<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creative.share.apps.aamalnaa">

    <application
        android:name=".share.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:targetApi="m">
        <activity android:name=".activites_fragments.activity_sign_in.activities.SignInActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >

        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activites_fragments.activity_splash.Splash_Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>